<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>uqlibrary-timeline</title>

  <script src="../../platform/platform.js"></script>
  <script src="../../web-component-tester/browser.js"></script>

  <link rel="import" href="../uqlibrary-booking.html">
</head>
<body>

  <uqlibrary-booking></uqlibrary-booking>

  <script>
    window.addEventListener('polymer-ready', function() {
      var myEl = document.querySelector('uqlibrary-booking');

      describe('uqlibrary-booking', function () {
        before(function () {

        });
      });

    });
  </script>

</body>
</html>
