@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  src: url("Roboto-Light.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("Roboto-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("Roboto-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("Roboto-Bold.woff") format("woff"); }
:host,
:host *,
::content * {
  box-sizing: border-box;
  outline: none; }

core-drawer-panel {
  background-color: #FFF; }

#booking {
  margin: 16px; }

#drawer {
  background-color: rgba(0, 0, 0, 0.87);
  color: rgba(255, 255, 255, 0.87); }

core-toolbar {
  background-color: #49075e;
  border-bottom: 1px solid #49075e;
  color: rgba(255, 255, 255, 0.87); }

core-menu {
  margin: 0; }

core-header-panel#drawer core-menu paper-item.core-selected {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(0, 0, 0, 0.87); }

paper-fab.action {
  background-color: #4caf50; }
  paper-fab.action#addBookingButton {
    position: fixed;
    bottom: 16px;
    right: 16px; }

#filterForm {
  /*padding-left: 50%;*/ }
  #filterForm uqlibrary-fbs-filter-form {
    position: relative;
    display: block; }
