h1 {
  font-family: "Roboto light";
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54); }

h1.inverse {
  font-family: "Roboto light";
  font-size: 8em;
  line-height: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white; }

h2 {
  font-family: "Roboto regular";
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54); }

h2.inverse {
  font-family: "Roboto regular";
  font-size: 4em;
  white-space: nowrap;
  line-height: 1.1em;
  text-overflow: ellipsis;
  color: white; }

h3 {
  font-family: "Roboto regular";
  font-size: 3.4em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

h3.inverse {
  font-family: "Roboto regular";
  font-size: 3.4em;
  line-height: 1.1em;
  color: white; }

h4 {
  font-family: "Roboto regular";
  font-size: 2.6em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

h4.inverse {
  font-family: "Roboto regular";
  font-size: 2.6em;
  line-height: 1.1em;
  color: white; }

.headline {
  font-family: "Roboto regular";
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.headline.inverse {
  font-family: "Roboto regular";
  font-size: 1.8em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.title {
  font-family: "Roboto medium";
  font-size: 1.42857em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.title.inverse {
  font-family: "Roboto medium";
  font-size: 1.42857em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.subhead {
  font-family: "Roboto regular";
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.subhead.inverse {
  font-family: "Roboto regular";
  font-size: 1.14286em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.body2 {
  font-family: "Roboto medium";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.body2.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.body1 {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.body1.inverse {
  font-family: "Roboto regular";
  font-size: 1em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.caption {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.54); }

.caption.inverse {
  font-family: "Roboto regular";
  font-size: 0.85714em;
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.54); }

.menu {
  font-family: "Roboto medium";
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.menu.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

.button {
  font-family: "Roboto medium";
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(0, 0, 0, 0.87); }

.button.inverse {
  font-family: "Roboto medium";
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.1em;
  color: rgba(255, 255, 255, 0.87); }

:host,
:host *,
::content * {
  box-sizing: border-box;
  outline: none; }

.big-icon {
  height: 32px;
  width: 32px; }

a.icon, a.icon:active, a.icon:link {
  color: #009688; }

.booking-room-header {
  background-color: white;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 150px; }
  .booking-room-header h2 {
    color: white;
    font-weight: normal;
    line-height: 1;
    background-color: rgba(73, 7, 94, 0.6);
    padding: 5px 0 5px 40px; }

.booking-details-item {
  padding: 10px 0 20px 40px; }
  .booking-details-item h3 {
    margin: 0;
    padding-left: 20px; }
  .booking-details-item p {
    font-size: 13px;
    margin: 0;
    padding-left: 20px; }

.booking-room-summary {
  padding: 10px 40px; }

.booking-room-hint {
  padding: 0px 40px;
  font-size: 13px;
  line-height: 20px; }
  .booking-room-hint .hint-box {
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #eeeeee;
    vertical-align: middle; }
    .booking-room-hint .hint-box.selected {
      background-color: #009688; }
    .booking-room-hint .hint-box.available {
      background-color: #eeeeee; }
    .booking-room-hint .hint-box.unavailable {
      background-color: #bdbdbd; }

.display-section {
  margin-bottom: 50px; }

.persistent-footer {
  padding: 0px 20px 0px 20px;
  position: fixed;
  bottom: 0px;
  height: 48px;
  width: 100%;
  border-top: 1px solid #eeeeee;
  background: white; }
  .persistent-footer paper-button#createRoomBooking {
    height: 36px;
    text-align: right; }
    .persistent-footer paper-button#createRoomBooking core-icon {
      width: 16px; }
