@import "../uqlibrary-elements/resources/theme/element";

:host {
}

core-drawer-panel {
  background-color: #FFF;
}

#booking {
  margin: 16px;
}

#drawer {
  background-color: $white;
}

core-toolbar {
  background-color: $primary-500;
  border-bottom: 1px solid $primary-700;
  color: $text-inverse;
}

core-menu {
  margin: 0;
}

core-header-panel {
 &#drawer {
   core-menu {
     paper-item {
       &.core-selected {
         color: $text-inverse;
         background-color: $text;
       }
     }
   }
 }
}


paper-fab {
  &.action{
    background-color: $green;

    &#addBookingButton {
      position: fixed;
      bottom: 16px;
      right: 16px;
    }
  }

}

#filterForm {

  /*padding-left: 50%;*/
  uqlibrary-fbs-filter-form {
    position: relative;
    display: block;
  }
}
