@import "../uqlibrary-elements/resources/theme/element";

:host {
}

core-drawer-panel {
  background-color: $white;
}

#booking {
  margin: 16px;
}

#drawer {
  background-color: $white;
}

core-toolbar {
  background-color: $highlight-primary;
  border-bottom: 1px solid $primary-700;
  color: $text-inverse;
}

core-menu {
  margin: 0;
}

paper-fab {
  &.action{
    background-color: $highlight-primary;

    &#addBookingButton {
      position: fixed;
      bottom: 16px;
      right: 16px;
    }
  }

}

#filterForm {

  /*padding-left: 50%;*/
  uqlibrary-fbs-filter-form {
    position: relative;
    display: block;
  }
}
