@import "../uqlibrary-elements/resources/theme/variables";
@import "../uqlibrary-elements/resources/theme/margins";

:host {
  display: block;
  position: relative;
  background-color: $white;
  padding: $form-padding;
  border-bottom: 1pt solid $divider;
}

.group-label {
  margin-left: $form-icon-padding-left - $form-padding - $form-icon-size;
}
.group-content {
  padding-left: $form-icon-padding-left - $form-padding;
}

