@import "../uqlibrary-elements/resources/theme/element";

:host {
}

#booking {
  margin: 16px;
}

#drawer {
  background-color: $text;
  color: $text-inverse;
}

core-toolbar {
  background-color: $primary-500;
  border-bottom: 1px solid $primary-700;
  color: $text-inverse;
}

core-menu {
  margin: 0;
}

paper-item {
  color: $text-inverse;
}